<!doctype html>
<html lang="en">
  <head>
    <title>CosmicJS Lambda Drop In Examples</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono" rel="stylesheet">
    <link href="/normalize.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1>Netlify Cosmicjs Lambda Functions Examples</h1>
    <p>
      Hi there! This is my playground to test out
      <a href="https://www.netlify.com/docs/functions">Netlify’s Lambda Functions on Cosmic</a>.
    </p>
    <p>
      You can browse the code for this site on
      <a href="https://github.com/aslanvaroqua/cosmicjs-lambda-microservices">GitHub</a>,
      or play around with the code yourself
      <a href="https://app.netlify.com/start/deploy?repository=cosmicjs-lambda-microservices">
      deploying a copy to Netlify</a>.
    </p>

    <article>
      <h2>Fetch</h2>
      <p>I see you like APIs! I’ll put an API in your API so you can API while you API.</p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/objects.js') %></code></pre>
      <h3>Try it out</h3>
      <p>
        <a href="/.netlify/functions/objects">Get me my cosmicjs objects!</a>
      </p>
    </article>

    <article>
      <h2>Send a Slack message</h2>
      <p>
        Putting it all together: send a message to a Slack channel.
      </p>
      <p>
        You’ll need a <a href="https://slack.com">Slack</a> account to replicate
        this example on your own site (if you don’t already have a Slack account,
        you can <a href="https://slack.com/get-started">create one</a> for free).
      </p>
      <ol>
        <li>
          <p>
            Create a Slack incoming webhook at
            <a href="https://my.slack.com/services/new/incoming-webhook/">
              https://my.slack.com/services/new/incoming-webhook/
            </a>
          </p>
        </li>
        <li>
          <p>
            To test the function locally, add the Slack webhook URL to the .env
            file in the root folder of your repository.
          </p>
          <pre class="language-bash"><code>SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXXXXXXXXX</code></pre>
        </li>
        <li>
          <p>
            To test the function in your deployed site, sign in to your
            <a href="https://app.netlify.com">Netlify dashboard</a>,
            add the environment variable to your site’s
            Settings > Build & Deploy > Build environment variables, and trigger
            a new deploy.
          </p>
        </li>
      </ol>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_slack.js') %></code></pre>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_slack" method="POST">
        <p>
          <label>What’s your name?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Ping Irene on Slack!</button></p>
      </form>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/prism.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
